# Dipendenze del progetto

# I minimi indicati sono quelli sotto i quali le API usate non esistono
flwr[simulation]>=1.28.0
torch>=2.7.0
cesnet-tszoo>=2.2.0
scikit-learn>=1.4.0
numpy>=1.26.0
pandas>=2.0.0

# Serve a cesnet-tszoo
ipython

matplotlib>=3.8.0